// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rk3588-nanopc-cm3588-nas.dts"

/ {
	model = "FriendlyElec CM3588 NAS (vendor) with 4-pin 5v PWM fan (drive pin 32/tacho pin 33)";

	fan: pwm-fan {
		status = "okay";
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		fan-supply = <&vcc5v0_sys>;
		pwms = <&pwm5 0 50000 0>; /* GPIO 40-pin Connector pin 32 - and NOT the original pwm1 which MOSFET-drives the built-in small-connector "5v fan" */
		cooling-levels = <0 35 64 100 150 255>;
		rockchip,hold-time-ms = <2000>;
		rockchip,temp-trips = <
			50000	1
			55000	2
			60000	3
			65000	4
			70000	5
		>;
		pulses-per-revolution = <2>;
		interrupt-parent = <&gpio3>;  /* GPIO GPIO3_B0/PWM9_M0 + ... */
		interrupts = <RK_PB0 IRQ_TYPE_EDGE_FALLING>; /* ... + GPIO 40-pin Connector pin 33 */
	};
};

/* GPIO 40-pin Connector pin 33 - EXTFAN TACHO - used as interrupt source in pwm-fan - gpio GPIO3_B0/PWM9_M0 */
&pwm9 {
	pinctrl-0 = <&pwm9m0_pins>;
	status = "disabled"; /* unsure if this is enabled or disabled, as it is used as an interrupt source and not pwm output */
};

/* Just for reference, as it is already okay'ed on vendor DT */
/* GPIO 40-pin Connector pin 32 - EXTFAN PWM Drive */
/* &pwm5 {
	pinctrl-0 = <&pwm5m1_pins>;
	status = "okay";
};
*/

